<h3>Master DB in Salary Table</h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
    </tr>
    <th:block th:each="salary : ${salaryList}">
        <tr>
            <td th:text="${ salary.id }"></td>
            <td th:text="${ salary.name }"></td>
            <td th:text="${ salary.email }"></td>
        </tr>
    </th:block>
</table>

<hr>

<h3>Slave1 DB in Country Table</h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>continent</th>

    </tr>
    <th:block th:each="country : ${countryList}">
        <tr>
            <td th:text="${ country.catecd }"></td>
            <td th:text="${ country.crwlurl }"></td>
        </tr>
    </th:block>
</table>
<!--<table border="1">
    <tr>
        <th>id</th>
        <th>continent</th>
        <th>country</th>
    </tr>
    <th:block th:each="country : ${countryList}">
        <tr>
            <td th:text="${ country.id }"></td>
            <td th:text="${ country.continent }"></td>
            <td th:text="${ country.country }"></td>
        </tr>
    </th:block>
</table>-->